/src/mth.keylogger.console/bin/Debug
/src/mth.keylogger.console/obj/Debug
/src/mth.keylogger.forms/bin/Debug
/src/mth.keylogger.forms/obj/Debug
/src/mth.keylogger/obj/Debug
/src/mth.keylogger/bin/Debug
